
body, html {
    padding: 0;
    margin: 0;
    font-size: 11pt;
    font-family: Arial Unicode MS, Arial, Verdana, sans-serif;
    color: #4D4D4D;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#header {
    background: #2B7CE9 url('../img/rainbow_header.jpg');
    background-size: 100%;

    font-family: serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
}

#wrap_menu {
    width: 200px;
    float: left;
    overflow: auto;
}

#menu {
    padding: 10px 10px 60px 0;
}

#wrap_contents {
    width: 700px;
    float: left;
    overflow: auto;
}

#contents {
    padding: 10px 0 60px 40px;
    min-height: 600px;
}

#footer {
    clear: both;
    border-top: 2px solid #E5E5E5;
}

.logo {
    height:35px;
}

td.footer {
    padding: 10px;
    text-align: center;
    font-size: 75%;
}


h1 {
    font-size: 26pt;
    font-weight: bold;
    font-style: italic;
    margin: 0 10px 10px 10px;
}

.listitem {
    padding: 10px 5px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
}

.listitem:hover {
    background-color: #e5e5e5;
    color: black;
}

input[type="text"] {
    border: 1px solid lightgray;
    border-radius: 2px;
}

button, select, input {
    font-size: 11pt;
    padding: 5px;
    margin-bottom: 10px;
}

.legend {
    margin: 10px 0;
}

/* auto completion */
.ui-autocomplete {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 120px;
    list-style: none;
    padding: 5px;
    margin: 0;
}
.ui-menu-item {
    display: block;
    border-radius: 2px;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
}
li.ui-menu-item a {
    border: 1px solid transparent;
    padding: 5px;
    display: block;
}
#ui-active-menuitem {
    background-color: white;
    color: orange;
    border: 1px solid lightgray;
    border-radius: 2px;
}
