
body, html {
    padding: 0;
    margin: 0;
    background: repeat-x url('../img/z11org/topdarkbg.jpg');
    line-height: 22px;
}


body, html, td, tr, button, select, input {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #39322A;
}

#container, #header, #nav {
    width: 960px;
    margin: 0 auto;
}

#header {
    padding: 0;
    margin: 0 auto;
    height: 90px;
}

#logo {
    width: 470px;
    height: 80px;
    border: none;
}

#nav {
    height: 56px;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav ul li {
    float: left;
    height: 56px;
    list-style: none;
    background: center top no-repeat url('../img/z11org/lava.gif');
}

#nav ul li a {
    color: white;
    font: bold 14px arial;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    display: block;
    margin: 0;
    padding: 19px 10px;
    text-decoration: none;
    vertical-align: middle;
}

#subheader {
    background: url('../img/z11org/subheaderbgwidexxs.jpg');
    height: 106px;
    width: 1038px;
    margin: 0 auto;
}


#wrap-menu {
    width: 200px;
    float: left;
    overflow: auto;
}

#menu {
    padding: 10px 10px 60px 0;
    min-height: 500px;
}

#user-menu {
    color: white;
    margin: 20px;
    float: right;
}
#user-menu a {
    color: white;
}
#user-menu a:hover {
    color: #9C0;
}

#wrap-contents {
    width: 700px;
    float: left;
    overflow: auto;
    min-height: 400px;
}

#contents {
    padding: 10px 0 60px 40px;
}

div.form-frame {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 2px;
}

#contents-end {
    clear: both;
}

#wrapper-bottom {
    background: url('../img/z11org/wrapperbottom.jpg');
    height: 145px;
    width: 1020px;
    margin: 0 auto;
}

#footer {
    background: #363636;
    width: 100%;
    min-width: 1038px;
    margin: 0;
    padding: 0;
}

#footer-top {
    background: repeat-x url('../img/z11org/footertopsmalldark.jpg');
    height: 10px;
}

#footer-mid {
    margin: 0 auto;
    padding: 20px 0 30px 0;
    width: 700px;
}

#footer-mid div {
    color: #ccc;
}

#footer-mid div a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}
#footer-mid div a:hover {
    color: white;
}

#footer-blocks {
}

div.footer-block {
    float: left;
    margin: 0 40px;
}

div.footer-block-end {
    clear: both;
}

h1 {
    font-family: TheMix, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    color: #009FC6;
    text-align: left;
    margin: 1em 0;
}

.h1-subtitle {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
    display: block;
}

h2 {
    font-family: TheMix, sans-serif;
    font-size:  1.5em;
    font-weight: bold;
    font-style: normal;
    color: #9C0;
    margin: 1em 0;
}

h4 {
    color: white;
    font-size: 1.3em;
    margin: 0 0 10px;
}

a.refresh {
    padding: 0 5px;
    color: #39322A;
}

a.refresh:hover {
    color: #009FC6;
}

a.page, a.person {
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: #39322A;
    border-radius: 2px;
}
a.page:hover, div.listitem:hover, div.person:hover, a.selected, div.selected {
    color: #009FC6;
    background-color: #f5f5f5;
}

a.person {
    width: 75%;
    float: left;
}

a.delete {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    float: right;
}
a.delete:hover {
    color: #FA0A10;
}

td.delete {
    vertical-align: top;
    padding-left: 10px;
}
div.person a.delete {
    display: block;
    padding: 6px;
    margin: 0;
}
/*
div.person a.delete {
    visibility: hidden;
}
div.person:hover a.delete {
    visibility: visible;
}

div.person a.delete:hover > div.person {
    background-color: red;
}*/

input[type="text"] {
    border: 1px solid lightgray;
    border-radius: 2px;
}
input[readonly="readonly"] {
    background-color: #f5f5f5;
}

button, select, input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    font-family: TheMix, sans-serif;
    color: white;
    background-color: #9C0;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #b0e600;
}
button:disabled {
    background-color: #e5e5e5;
    color: gray;
    cursor: default;
}


.legend {
    margin: 10px 0;
}

#status {
    min-height: 22px;
    color: #FA0A10;
}

/* auto completion */
.ui-autocomplete {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 120px;
    list-style: none;
    padding: 5px;
    margin: 0;
}
.ui-menu-item {
    display: block;
    border-radius: 2px;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
}
li.ui-menu-item a {
    border: 1px solid transparent;
    padding: 5px;
    display: block;
}
#ui-active-menuitem {
    background-color: white;
    color: #9C0;
    border: 1px solid lightgray;
    border-radius: 2px;
}


div.arrow {
    background: #E5E5E5;
    float: left;
    cursor: pointer;
}
div.arrow div.right, div.arrow div.left {
    width: 0;
    height: 0;
    float: left;
}
div.arrow div.right {
    border-top: 15px solid white;
    border-bottom: 15px solid white;
}
div.arrow div.left {
    border-top: 15px solid #E5E5E5;
    border-bottom: 15px solid #E5E5E5;
}
div.arrow div.content {
    /* height + padding-top + padding-bottom = 30px */
    height: 18px;
    padding: 4px 10px 8px 10px;
    float: left;
    color: #39322A;
}
div.arrow div.left {
    border-left: 7px solid white;
}
div.arrow div.right {
    border-left: 7px solid #E5E5E5;
}

/* selected */
div.arrow-selected {
    background: #9C0;
}
div.arrow-selected div.content {
    color: white;
}
div.arrow-selected div.right {
    border-left: 7px solid #9C0;
}
div.arrow-selected div.left {
    border-top-color: #9C0;
    border-bottom-color: #9C0;
}

/* mouse hover */
div.arrow:hover {
    background: #f5f5f5;
}
div.arrow:hover div.content {
}
div.arrow:hover div.right {
    border-left: 7px solid #f5f5f5;
}
div.arrow:hover div.left {
    border-top-color: #f5f5f5;
    border-bottom-color: #f5f5f5;
}

/* mouse hover selected */
div.arrow-selected:hover {
    background: #b0e600;
}
div.arrow-selected:hover div.content {
    color: white;
}
div.arrow-selected:hover div.right {
    border-left: 7px solid #b0e600;
}
div.arrow-selected:hover div.left {
    border-top-color: #b0e600;
    border-bottom-color: #b0e600;
}
