/* TheMix font */

@font-face{
    font-family:'TheMix';
    src:url('font/themixtia-webfont.eot');
    src:url('font/themixtia-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/themixtia-webfont.woff') format('woff'),
        url('font/themixtia-webfont.ttf') format('truetype'),
        url('font/themixtia-webfont.svg') format('svg');
    font-weight:normal;
    font-style:italic;
}

@font-face{
    font-family:'TheMix';
    src:url('font/themixtia-webfont.eot');
    src:url('font/themixtia-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/themixtia-webfont.woff') format('woff'),
        url('font/themixtia-webfont.ttf') format('truetype'),
        url('font/themixtia-webfont.svg') format('svg');
    font-weight:normal;
    font-style:italic;
}

@font-face{
    font-family:'TheMix';
    src:url('font/themixpla-webfont.eot');
    src:url('font/themixpla-webfont.eot') format('embedded-opentype'),
        url('font/themixpla-webfont.woff') format('woff'),
        url('font/themixpla-webfont.ttf') format('truetype'),
        url('font/themixpla-webfont.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face{font-family:'TheMix';
    src:url('font/themixb7bol-webfont.eot');
    src:url('font/themixb7bol-webfont.eot') format('embedded-opentype'),
        url('font/themixb7bol-webfont.woff') format('woff'),
        url('font/themixb7bol-webfont.ttf') format('truetype'),
        url('font/themixb7bol-webfont.svg') format('svg');
    font-style:normal;
    font-weight:bold;
}
