<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html ng-app="controller" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>De Netwerk Scan - Stichting Zelforganisatie</title>

    <link type="text/css" rel="stylesheet" href="css/themix.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="lib/vis/dist/vis.min.css">

    <script src='lib/jquery-1.8.0.min.js' type="text/javascript"></script>
    <script src='lib/jquery-ui-autocomplete/jquery-ui-1.8.23.custom.min.js' type="text/javascript"></script>
    <script src='lib/jquery.simpletip-1.3.1.min.js' type="text/javascript"></script>
    <script src="lib/angular-1.1.1.min.js" type="text/javascript"></script>
    <script src="lib/angular-resource-1.1.1.min.js" type="text/javascript"></script>
    <script src="lib/underscore-min.js" type="text/javascript" ></script>
    <script src="lib/vis/dist/vis.js" type="text/javascript" ></script>
    <script src="js/controller.js" type="text/javascript" ></script>
    <script src="js/autocompletion.js" type="text/javascript" ></script>
    <script src="js/networkview.js" type="text/javascript" ></script>
    <script src="js/inq.js" type="text/javascript" ></script>
    <script src="js/hash.js" type="text/javascript" ></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF8">
</head>

<body>

<div id="container" ng-controller="Controller">


<div id="header">
    <a href="http://www.z11org.nl/">
        <img src="img/z11org/logo.jpg" alt="logo" id="logo">
    </a>
    <div id="user-menu">
        <div ng-show="appIsReady()">
            <span ng-show="user.email" title="{{userTitle()}}">
                [{{user.email}}]
            </span>
            <a ng-show="user.isLoggedIn" href="{{user.logoutUrl}}">uitloggen</a>
            <a ng-show="!user.isLoggedIn" href="{{user.loginUrl}}">inloggen</a>
        </div>
    </div>
</div>

<div id="nav">
    <ul>
        <li>
            <a href="#">De Netwerk Scan</a>
        </li>
    </ul>
</div>

<div id="subheader"></div>

<div ng-hide="appIsReady()" style="margin-top: 50px; margin-bottom: 350px;">
    Bezig met laden...
</div>

<div id="wrap-menu" ng-show="appIsReady()">
    <div id="menu">
        <h2>Menu</h2>

        <div class="listitem" >
            <a class="page"
               ng-click="page = 'intro'"
               ng-class="{'selected': page=='intro'}">Introductie</a>
        </div>
        <div class="listitem" >
            <a class="page"
               ng-click="page = 'theory'"
               ng-class="{'selected': page=='theory'}">Achtergrondinformatie</a>
        </div>
        <div class="listitem">
            <a class="page"
               ng-click="start()"
               ng-class="{'selected': (page=='form' && current.id==user.email)}">Mijn Gegevens</a>
        </div>
        <div class="listitem">
            <a class="page"
               ng-click="loadNetwork(user.email)"
               ng-class="{'selected': (page=='network' && network.id==user.email)}">Mijn Netwerk</a>
        </div>

        <h2>Deelnemers</h2>
        <div>
            Zoek andere deelnemers:
            <input ng-model="search.name"
                   type="text"
                   placeholder="zoeken..." />
            <img ng-show="search.searching" src="img/loading5.gif">
            <div ng-show="search.error" class="error">
                Error: {{search.error}}
            </div>
        </div>
        <div ng-show="!search.error && search.results && search.results.length == 0">
            (geen resultaten)
        </div>
        <div ng-repeat="person in search.results" class="person">
            <div ng-class="{'selected': (page=='network' && network.id==person.id)}"
                    title="{{ person.name }} ({{ person.id || 'emailadres niet toegankelijk' }})">
                <a class="person"
                   ng-click="loadNetwork(person.id, person.name)">{{person.name || person.id}}</a>
                <a class="delete"
                   ng-click="delete(person.id, person.name)"
                   ng-show="(network.id==person.id) && (isAdmin() || (user.email==person.id))"
                   title="Deelnemer verwijderen">&times;</a>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
<div id="wrap-contents" ng-show="appIsReady()">
    <div id="contents">
        <div ng-show="page == 'intro'">
            <h1>Hoe ziet uw sociale netwerk eruit?</h1>
            <p>
                De Netwerk Scan van Stichting Zelforganisatie heeft als doel
                om uw netwerk in kaart te brengen en u inzicht te geven in uw sociale verbondenheid.
            </p>

            <p style="text-align: center">
                <img alt="mindmap" src="img/mindmap_300x262.png"
                     width="300" height="263" title="Sociaal netwerk">
            </p>
            <!--
            <img alt="mindmap" src="img/mindmap_400x350.png"
                 width="400" height="350" title="Sociaal netwerk">
            -->

            <table id="intro">
                <tr>
                    <td>
                        <div class="block">
                            <h2>INQ</h2>
                            <p>
                                De Netwerk Scan berekent de
                                Individuele Netwerk Quoti&euml;nt (INQ) van uw netwerk.
                                Dit geeft een maat voor uw sociale verbondenheid.
                            </p>
                            <p>
                                <a ng:click="page='theory'">lees meer...</a>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="block">
                            <h2>Netwerk</h2>
                            <p>
                                De Netwerk Scan geeft inzicht in hoe uw sociale netwerk
                                is opgebouwd. U staat zelf centraal en heeft
                                contacten uit verschillende deelnetwerken.
                            </p>
                            <p>
                                <a ng:click="page='theory'">lees meer...</a>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="block">
                            <h2>Start</h2>
                            <p>
                                Vul nu de Netwerk Scan in!
                            </p>
                            <button ng-click="start()" title="Start de test">Start</button>
                        </div>
                    </td>
                </tr>
            </table>

            <h1>Hoe werkt het?</h1>
            <p>
                In de Netwerk Scan meten we met hoeveel mensen uit verschillende netwerken u regelmatig contact hebt.
                Dit resulteert in uw persoonlijke Individuele Netwerk Quoti&euml;nt (INQ).
                De INQ is dus een maat voor uw maatschappelijke verbondenheid.
                Een hogere waarde geeft aan dat u meer connected bent dan iemand met een lagere waarde.
                Als u de Netwerk Scan zo volledig mogelijk invult krijgt u een zo goed mogelijk beeld van uw netwerk.
            </p>
        </div>

        <div ng-show="page == 'theory'">
            <h1>Achtergrondinformatie</h1>
            De Netwerk Scan van Stichting Zelforganisatie is gebaseerd op een
            aantal noties uit de wetenschap: de theorie omtrent Scale Free networks, The Strength of Weak Ties en het
            Small World principe. Deze worden hieronder kort toegelicht.
            Vervolgens geven we u informatie over de praktische toepasbaarheid
            van uw INQ.

            <h2>Theorie</h2>

            <h3>Scale Free networks</h3>
            <p>
                <img src="img/scalefree.jpg" alt="scale free network" align="right">
                Netwerken die zich lenen voor zelforganisatie vertonen in de
                praktijk alle dezelfde kenmerken. Dit is niet alleen zichtbaar bij
                mensen en het internet maar ook bij vogels, vissen en insecten.


                <a href="http://en.wikipedia.org/wiki/Albert-L%C3%A1szl%C3%B3_Barab%C3%A1si" target="_blank">Albert-L&aacute;szl&oacute; Barab&aacute;si</a>
                en anderen hebben aangetoond dat in een
                <a href="http://en.wikipedia.org/wiki/Scale-free_network" target="_blank">Scale Free netwerk</a>
                de meeste mensen relatief weinig (verschillende soorten) contacten hebben, en een paar mensen heel veel.
                De mensen met zeer veel verschillende contacten worden 'hubs' genoemd;
                zij houden het netwerk bij elkaar en vormen bruggen
                tussen de verschillende deelnetwerken&nbsp;<span id="tooltip-deelnetwerk"
                        class="tooltip-anchor"
                        title="Klik hier voor een toelichting op het begrip 'deelnetwerk'">&nbsp;i&nbsp;</span>.
            </p>

            <p>
                In hoeverre is uw netwerk scale free? Dat inventariseren we in deze Netwerk Scan.
                De scan is een momentopname van uw netwerk, een 'foto' van uw netwerk.
                Als u de scan over een jaar nogmaals invult, is uw netwerk ongetwijfeld
                veranderd en heeft het meer of minder het karakter van een scale free network gekregen.
                Dit kunt u bewust doen door contact te leggen met 'hubs' of door nieuwe deelnetwerken aan te leggen.
            </p>

            <h3>Small World</h3>
            <p>
                <img src="img/220px-Six_degrees_of_separation.png" alt="small world" align="right">
                Deze theorie verwierf bekendheid door het experiment van
                <a href="http://en.wikipedia.org/wiki/Small-world_experiment" target="_blank">Stanley Milgram</a>
                waarin werd gemeten via hoeveel mensen een brief een bepaalde persoon bereikte.
                In het experiment bleek dat de brief gemiddeld zes personen nodig had om de
                geadresseerde te bereiken. Hieruit is de conclusie getrokken dat je
                slechts zes stappen verwijderd bent van een willekeurige persoon,
                waar ook ter wereld. Deze notie staat bekend als de 'six degrees of separation'.
            </p>

            <h3>Strength of Weak Ties</h3>
            <p>
                <a href="http://en.wikipedia.org/wiki/Mark_Granovetter" target="_blank">Marc Granovetter</a>
                toonde in 1974 aan dat mensen veel vaker een nieuwe baan
                of relatie krijgen via mensen die ze weinig zien (de 'weak links')
                dan via goede vrienden. Dit komt doordat je vrienden in de regel sterk
                op je lijken, hetzelfde gedrag vertonen en zich in dezelfde netwerken begeven.
                Zwakke connecties zitten vaak in andere netwerken en kunnen daardoor
                relatief meer bijdragen aan de diversiteit van je netwerk.
                Je hebt deze mensen dus minstens zo hard nodig als goede vrienden die je vaak ziet.
            </p>

            <h2>Praktische toepassing</h2>
            <p>
                Bij de Netwerk Scan gaan we niet uit van de groep waarin u zit (familie, vriendenkring)
                maar kiezen we voor de verschillende rollen die u heeft als ouder, vriend of collega.
                Bijvoorbeeld: wanneer we kiezen voor een indeling in groepen,
                dan kunt u zo alle bloedlijnen die u heeft invullen.
                Echter, wanneer u bijvoorbeeld met uw broer een bedrijf heeft opgericht,
                kan het zijn dat u vaker contact&nbsp;<span id="tooltip-contact"
                        class="tooltip-anchor"
                        title="Klik hier voor een toelichting op het begrip 'contact'">&nbsp;i&nbsp;</span>
                heeft met uw broer als 'zakelijk partner' dan als 'familielid'.
                Aangezien het ons gaat om de frequentie&nbsp;<span id="tooltip-frequentie"
                        class="tooltip-anchor"
                        title="Klik hier voor een toelichting op het begrip 'frequentie'">&nbsp;i&nbsp;</span>
                van het contact is het zakelijk contact met uw broer
                voor ons hier belangrijker dan de mate waarin u elkaar in familieverband ziet.
            </p>

            <h3>Wat levert de Netwerk Scan u op?</h3>
            <img src="img/denetwerkscan_voorbeeld.png" alt="small world" align="right" style="padding-left: 15px;">
            <p>
                De Netwerk Scan resulteert in een Individuele Netwerk Quoti&euml;nt (INQ)&nbsp;<span id="tooltip-inq"
                        class="tooltip-anchor"
                        title="Klik hier voor een toelichting op het begrip 'INQ'">&nbsp;i&nbsp;</span>
                en een visualisatie van uw netwerk. De INQ is dus een maat voor uw maatschappelijke verbondenheid.
                Een hogere INQ geeft aan dat u meer verbonden bent dan iemand met een lagere INQ.
                De INQ is uitsluitend bedoeld om u inzicht te geven in de opbouw van uw netwerk op dit moment
                en geeft geen waardeoordeel. Er is geen 'goed' of 'fout'.
                U kunt het zien als een soort 'foto' van uw netwerk.
                Over een jaar kan uw netwerk er heel anders uitzien,
                bijvoorbeeld als u van baan bent gewisseld of nieuwe vrienden heeft gemaakt.
                Als u de Netwerk Scan regelmatig invult ontstaat een 'film' van uw netwerk,
                die realistischer is dan de momentopname.
            </p>

            <h3>Wat kunt u ermee?</h3>
            <p>
                Uw INQ geeft een indruk van uw eigen zelforganiserend vermogen.
                Nu u weet hoe uw netwerk in elkaar zit,
                kunt u uw zelforganiserend vermogen verbeteren door bewust aan de slag te gaan met uw netwerk.
                U kunt bijvoorbeeld contact zoeken met de 'hubs'&nbsp;<span id="tooltip-hub"
                        class="tooltip-anchor"
                        title="Klik hier voor een toelichting op het begrip 'hub'">&nbsp;i&nbsp;</span>
                in uw netwerk als u op zoek bent naar een nieuwe baan.
                Of u kunt het netwerk van iemand anders helpen uitbreiden om te voorkomen dat hij of zij eenzaam wordt.
                Een uitgebreid, gevarieerd netwerk blijft namelijk langer bestaan (het is robuuster)
                dan een beperkt netwerk van mensen die op elkaar lijken.
                Ten slotte is het goed om te weten dat mensen met een hogere INQ
                in het algemeen meer kans hebben op nieuwe connecties.
                Kijk maar naar social media: als je op Facebook of Twitter veel vrienden of volgers hebt,
                krijg je er veel sneller nieuwe vrienden bij dan wanneer je weinig vrienden hebt.
                Daarnaast hebben mensen met een hoger INQ meer kans op een nieuwe baan of een nieuwe relatie.
                Mark Granovetter heeft dit overtuigend beschreven in The Strength of Weak Ties.
            </p>

            <p>
                Heeft u hier vragen over?
                <a href="mailto:info@z11org.nl">Wij helpen u graag</a>!
            </p>
        </div>

        <div ng-show="page == 'form'">
            <h1>Gegevens</h1>

            <div ng-show="!user.email">
                <p>
                    Voordat u uw gegevens kunt invullen of bekijken, dient u in te loggen.
                </p>
                <button ng-click="login()" title="Inloggen">Inloggen</button>
            </div>

            <div ng-show="user.email && !current">
                <button ng-click="start()" title="Haal uw gegevens op of laad een nieuw formulier">Start</button>
            </div>
            <div ng-show="user.email && current">
                <!-- form paging menu -->
                <div>
                    <div class="arrow"
                         ng-class="{'arrow-selected': true}"
                         ng-click="form = 'privacy'">
                        <!--
                        <div class="left"></div>
                        -->
                        <div class="content">
                            Privacy
                        </div>
                        <div class="right"></div>
                    </div>

                    <div class="arrow"
                         ng-class="{'arrow-selected': (form=='import' || form=='self' || form=='contacts' || form=='inq')}"
                         ng-click="form = 'import'">
                        <div class="left"></div>
                        <div class="content">
                            Gegevens Importeren
                        </div>
                        <div class="right"></div>
                    </div>

                    <div class="arrow"
                         ng-class="{'arrow-selected': (form=='self' || form=='contacts' || form=='inq')}"
                         ng-click="form = 'self'">
                        <div class="left"></div>
                        <div class="content">
                            Persoonlijke gegevens
                        </div>
                        <div class="right"></div>
                    </div>


                    <div class="arrow"
                         ng-class="{'arrow-selected': (form=='contacts' || form=='inq')}"
                         ng-click="form = 'contacts'">
                        <div class="left"></div>
                        <div class="content">
                            Contacten
                        </div>
                        <div class="right"></div>
                    </div>

                    <div class="arrow"
                         ng-class="{'arrow-selected': form=='inq'}"
                         ng-click="form = 'inq'">
                        <div class="left"></div>
                        <div class="content">
                            INQ
                        </div>
                        <div class="right"></div>
                    </div>

                    <div style="clear:both;"></div>
                </div>

                <!-- status -->
                <div id="status">
                    <span ng-show="saving">bezig met opslaan...</span>
                    <span ng-show="deleting">bezig met verwijderen...</span>
                    <span ng-show="loading">bezig met laden...</span>
                    <span ng-show="error">Error: {{error}}</span>
                </div>

                <div ng-show="form=='privacy'">
                    <h2>Privacy</h2>
                    <p>
                        Maak een keuze voor de privacy instellingen van uw gegevens.
                    </p>
                    <div class="form-frame" ng-readonly="true">
                        Mijn gegevens mogen ingezien worden door:
                        <select ng-model="current.privacyPolicy"
                                ng-hide="readonly">
                            <option value="PRIVATE">{{ describePolicy('PRIVATE') }}</option>
                            <option value="PUBLIC_FOR_RELATIONS">{{ describePolicy('PUBLIC_FOR_RELATIONS') }}</option>
                            <option value="PUBLIC">{{ describePolicy('PUBLIC') }}</option>
                        </select>
                        <input type="text"
                               value="{{describePolicy(current.privacyPolicy) }}"
                               ng-show="readonly"
                               ng-readonly="true" />
                    </div>

                    <p>
                        <button ng-disabled="true" title="Vorige pagina">&#9668; Vorige</button>
                        <button ng-click="form='import'" title="Volgende pagina">Volgende &#9658;</button>
                    </p>
                </div>

                <div ng-show="form=='import'">
                    <h2>Gegevens importeren (optioneel)</h2>

                    <p>
                        Om uw netwerk makkelijker te kunnen invullen,
                        kunt u uw vrienden en persoonlijke gegevens van Facebook importeren.
                        Deze gegevens worden straks gebruikt om:
                    </p>
                    <ul>
                        <li>Automatisch uw persoonlijke gegevens in te vullen.</li>
                        <li>De namen van uw contacten automatisch aan te vullen bij het invullen
                            van uw netwerk.</li>
                        <li>Te bepalen wie uw contacten zijn en uw gegevens mogen bekijken,
                            in het geval dat u dit als privacy instelling hebt gekozen.</li>
                    </ul>

                    <div class="form-frame">
                        <table>
                            <tr>
                                <td>
                                    <img alt="Facebook" width="96" height="36" src="img/z11org/facebook.jpg"/>
                                </td>
                                <td ng-show="!importing">
                                    <span class="bold" ng-show="current.facebookId">
                                        Er zijn {{countContacts('facebook')}} vrienden uit Facebook ge&iuml;mporteerd.
                                    </span>
                                    <span class="bold" ng-hide="current.facebookId">
                                        We konden geen contacten uit Facebook voor u importeren.
                                    </span>
                                </td>
                                <td ng-show="!importing">
                                    <button title="Vrienden uit Facebook importeren"
                                            ng-click="importContacts('facebook')">Importeren</button>
                                </td>
                                <td ng-show="!importing">
                                    <button title="Geimporteerde vrienden verwijderen uit de Netwerk Scan"
                                            ng-click="deleteContacts('facebook')">Verwijderen</button>
                                </td>
                                <td class="bold" ng-show="importing">
                                    Dit kan even duren. Een moment geduld alstublieft...
                                    <a ng-click="cancelImport()">annuleren</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <p>
                        <button ng-click="form='privacy'" title="Vorige pagina">&#9668; Vorige</button>
                        <button ng-click="form='self'" title="Volgende pagina">Volgende &#9658;</button>
                    </p>
                </div>

                <div ng-show="form=='self'">
                    <h2>Wie bent u?</h2>
                    <p>
                        Vul uw algemene gegevens in.
                    </p>
                    <div class="form-frame" ng-readonly="true">
                        <table>
                            <tr><td>Email</td><td>
                                <input type="text"
                                       ng-model="current.id"
                                       ng-readonly="!isAdmin()"/>
                            </td></tr>
                            <tr><td>Naam</td><td>
                                <input type="text"
                                       ng-model="current.name"
                                       ng-readonly="readonly" />
                            </td></tr>
                            <tr><td>Leeftijd</td><td>
                                <input type="text"
                                       ng-model="current.age"
                                       ng-readonly="readonly" />
                            </td></tr>
                            <tr><td>Geslacht</td><td>
                                <select ng-model="current.gender"
                                        ng-hide="readonly">
                                    <option value="MALE">{{ describeGender('MALE') }}</option>
                                    <option value="FEMALE">{{ describeGender('FEMALE') }}</option>
                                </select>
                                <input type="text"
                                       value="{{describeGender(current.gender) }}"
                                       ng-show="readonly"
                                       ng-readonly="true" />
                            </td></tr>
                            <tr><td>Beroep</td><td>
                                <input type="text"
                                       ng-model="current.profession"
                                       ng-readonly="readonly" />
                            </td></tr>
                        </table>
                    </div>

                    <p>
                        <button ng-click="form='import'" title="Vorige pagina">&#9668; Vorige</button>
                        <button ng-click="form='contacts'" title="Volgende pagina">Volgende &#9658;</button>
                    </p>
                </div>

                <div ng-show="form=='contacts'">
                    <h2>Hoe vult u de Netwerk Scan in?</h2>
                    <p>
                        Uw netwerk bestaat uit verschillende deelnetwerken,
                        zoals familie, vrienden, buren, sportmaatjes, etc.
                        Hierbij gaat het om de verschillende rollen die u heeft als collega,
                        vriend of ouder. Een voorbeeld: wanneer u samen met uw broer een bedrijf heeft,
                        kan het zijn dat u vaker zakelijk contact heeft dan 'familiecontact'.
                        Uw broer deelt u dus in het netwerk 'collega's' in.
                    </p>
                    <p>
                        U geeft zelf aan hoe vaak u met personen uit de verschillende deelnetwerken contact heeft,
                        bijvoorbeeld dagelijks, wekelijks of jaarlijks.
                        Alle vormen van contact tellen mee, dus ook telefoongesprekken,
                        e-mails, sms-jes, ansichtkaarten, tweets, etc.
                    </p>

                    <div ng-repeat="domain in current.domains">
                        <a ng-click="deleteDomain(current, domain)"
                           ng-show="!readonly"
                           class="delete"
                           title="Deelnetwerk {{domain.name}} verwijderen">&times;</a>

                        <h2>{{domain.name}}</h2>
                        <p>
                            Vul de namen van uw {{domain.name.toLowerCase()}} in, en geef aan hoe
                            intensief contact u met elk van hen hebt.
                        </p>

                        <div class="form-frame">
                            <table>
                                <tr ng-show="domain.relations.length">
                                    <td>Naam</td>
                                    <td>Frequentie</td>
                                </tr>
                                <tr ng-repeat="relation in domain.relations">
                                    <td><input type="text"
                                               autocomplete="names"
                                               relationname="relation.name"
                                               relationfacebookid="relation.facebookId"
                                               ng-model="relation.name"
                                               ng-readonly="readonly" />
                                    </td>
                                    <td>
                                        <select ng-model="relation.frequency"
                                                ng-options="frequency for frequency in frequencies"
                                                ng-hide="readonly"></select>
                                        <input type="text"
                                               ng-model="relation.frequency"
                                               ng-show="readonly"
                                               ng-readonly="true" />
                                    </td>
                                    <td class="delete">
                                        <a ng-click="deleteRelation(domain, relation)"
                                           ng-show="!readonly"
                                           class="delete"
                                           title="Relatie verwijderen">&times;</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button ng-click="addRelation(domain)"
                                                ng-disabled="readonly"
                                                title="Voeg een relatie toe">Toevoegen</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div>
                        <h2>Deelnetwerk toevoegen</h2>

                        Kies een deelnetwerk om uw contacten in te voeren.
                        U hoeft alleen contacten in te voeren bij deelnetwerken
                        die voor u relevant zijn. Mist u een netwerk?
                        Vul dit dan in bij 'Overig'.
                        Bent u klaar? Klik dan op 'Volgende'.
                        <p></p>

                        <div class="form-frame">
                            Deelnetwerk toevoegen:
                            <span ng-repeat="domainName in domains">
                                <button ng-click="addDomain(current, domainName)"
                                        ng-disabled="readonly"
                                        ng-hide="getDomain(current, domainName)"
                                        title="Voeg het deelnetwerk '{{domainName}}'toe">{{domainName}}</button>

                            </span>
                        </div>
                    </div>

                    <p>
                        <button ng-click="form='self'" title="Vorige pagina">&#9668; Vorige</button>
                        <button ng-click="form='inq'" title="Volgende pagina">Volgende &#9658;</button>
                    </p>
                </div>

                <div ng-show="form=='inq'">
                    <h2>INQ</h2>

                    <p>
                        In deze Netwerk Scan meten we hoeveel verschillende netwerken u op dit moment hebt
                        en met hoeveel mensen u daarbinnen geregeld contact hebt.
                        Dit resulteert in een waarde: uw persoonlijke Individuele Netwerk Quoti&euml;nt (INQ).
                        De INQ is dus een maat voor uw maatschappelijke verbondenheid.
                        Een hogere waarde geeft aan dat u meer verbonden bent dan iemand die lager scoort.
                        U haalt de maximale waarde van 1.0 als u dagelijks spreekt met vier of meer mensen
                        uit vier of meer verschillende netwerken.
                    </p>

                    <div class="form-frame">
                        <p>
                            Uw Individuele Netwerk Co&euml;ffici&euml;nt (INQ) is:
                            <span class="bold">{{currentInq}}</span>
                        </p>
                        <p>
                            <a ng-click="loadNetwork(user.email)">Klik hier</a> voor een visualisatie van uw netwerk.
                        </p>
                    </div>

                    <p>
                        Wat kunt u met deze informatie?
                        Lees meer op de pagina <a ng:click="page='theory'">Achtergrondinformatie</a>.
                    </p>
                    <div style="min-height: 100px"></div>

                    <p>
                        <button ng-click="form='contacts'" title="Vorige pagina">&#9668; Vorige</button>
                        <button ng-disabled="true" title="Volgende pagina">Volgende &#9658;</button>
                    </p>
                </div>
            </div>
        </div>

        <div ng-show="page == 'noaccess'">
            <h1>Geen toegang</h1>
            <p>
                U hebt geen toestemming om de gegevens van
                {{ current.name || 'deze gebruiker' }}
                te bekijken.
            </p>
            <p>
                U kunt zijn of haar gegevens bekijken wanneer:
            </p>
            <ul>
                <li>{{ current.name || 'deze gebruiker' }} heeft aangegeven dat
                    iedereen zijn of haar gegevens mag inzien.</li>
                <li>{{ current.name || 'deze gebruiker' }} heeft aangegeven dat
                    relaties zijn of haar gegevens mogen inzien, en hij of zij u
                    als relatie heeft ingevuld met uw emailadres ({{user.email}}).</li>
            </ul>
        </div>

        <div ng-show="page == 'network'">
            <h1>Uw netwerk in kaart <img ng-show="network.loading" src="img/loading5.gif"></h1>

            <p>
                De netwerkvisualisatie toont een plaatje van uw sociale netwerk op dit moment.

                Al uw contacten worden weergegeven. Wanneer deze contacten de Netwerk Scan
                ook hebben ingevuld en deze voor u toegankelijk is, worden ook hun contacten
                weergegeven.
            </p>
            <p>
                De dikte van de lijn tussen twee personen geeft de intensiteit van
                het contact aan - hoe dikker de lijn is, des te intensiever is het contact.
                De lijnkleur geeft aan in welke rol u contact heeft met iemand anders
                (in welk 'deelnetwerk').
            </p>

            <div ng-show="!user.email">
                <p>
                    Voordat u uw gegevens kunt invullen of bekijken, dient u in te loggen.
                </p>
                <button ng-click="login()" title="Inloggen">Inloggen</button>
            </div>

            <h2>{{network.name}}</h2>
            <div ng-show="network.error" class="error">
                Error: {{network.error}}
            </div>
            <p ng-show="network.inq != undefined">
                Individuele Netwerk Co&euml;ffici&euml;nt (INQ):
                <span class="bold">{{network.inq}}</span>
            </p>
            <div id="network"></div>
        </div>
    </div>
</div>

<div id="contents-end"></div>
</div>

<div id="wrapper-bottom"></div>

<div id="footer">
    <div id="footer-top"></div>
    <div id="footer-mid">
        <div id="footer-blocks">
            <div class="footer-block">
                <h4>De Netwerk Scan</h4>
                <p>
                    <a href="http://denetwerkscan.appspot.com" target= "_blank">
                        denetwerkscan.appspot.com
                    </a>
                </p>
                <p>
                    <a href="https://github.com/almende/denetwerkscan" target= "_blank">
                        Ontwikkeld door Almende
                    </a>
                </p>
            </div>
            <div class="footer-block">
                <h4>Contact</h4>
                <p>
                    Tel: 010-4049444
                </p>
                <p>
                    <a href="mailto:info@z11org.nl" target= "_blank">
                        info@z11org.nl
                    </a>
                </p>
            </div>
            <div class="footer-block">
                <h4>Connect</h4>
                <p>
                    <a href="http://www.twitter.com/Zelforganisatie" target= "_blank">
                        <img alt="twitter" width="72" height="17" src="img/z11org/twitter.png"/>
                    </a>
                </p>
                <p>
                    <a href="http://www.linkedin.com/groups?home=&gid=2956564" target= "_blank">
                        <img alt="linkedin" width="74" height="19" src="img/z11org/linkedin.png"/></a>
                </p>
                <p>
                    <a href="http://www.facebook.com/zelforganisatie" target= "_blank">
                        <img alt="facebook" width="96" height="36" src="img/z11org/facebook.jpg"/></a>
                </p>
                <p>
                    <a href="http://www.youtube.com/user/Zelforganisatie" target= "_blank">
                        <img alt="youtube" width="64" height="24" src="img/z11org/youtube.png"/>
                    </a>
                </p>
            </div>
            <div class="footer-block-end"></div>
        </div>
    </div>
</div>

<!-- tooltip texts -->
<div id="tooltip-text-frequentie" class="tooltip-contents">
    <h3>Toelichting op het begrip 'frequentie'</h3>
    <p>
        Frequentie verdelen wij onder in dagelijks,
        wekelijks, twee wekelijks, maandelijks, eens per kwartaal of jaarlijks contact.
        Alle vormen van contact tellen mee, niet alleen direct contact maar ook
        contact via de telefoon,
        per mail, sms, internet of sociale media.
    </p>
</div>

<div id="tooltip-text-contact" class="tooltip-contents">
    <h3>
        Toelichting op het begrip 'contact'
    </h3>
    <p>
        We spreken van contact wanneer mensen bewust met elkaar communiceren.
        Dit contact kan verschillende vormen hebben
        (direct contact, per telefoon, mail, social media, etc.)
        en kan zowel eenzijdig als meerzijdig zijn.
    </p>
</div>

<div id="tooltip-text-deelnetwerk" class="tooltip-contents">
    <h3>
        Toelichting op het begrip 'deelnetwerk'
    </h3>
    <p>
        Het deelnetwerk 'vrije tijd' omvat bijvoorbeeld mensen die u spreekt
        als u uw hobby of sport uitoefent. Het deelnetwerk 'overig'
        omvat bijvoorbeeld mensen die u ontmoet als u uitgaat of op vakantie gaat.
    </p>
</div>

<div id="tooltip-text-inq" class="tooltip-contents">
    <h3>
        Toelichting op het begrip 'INQ'
    </h3>
    <p>
        De gegevens die u invult in deze scan resulteren een persoonlijke INQ.
        Deze geeft de mate weer waarin u verbonden bent met uw netwerk.
        Het meest intensieve deelnetwerk krijgt de waarde 1/2, het tweede 1/4,
        het derde 1/8 en het vierde ook 1/8. Hetzelfde geldt voor de personen die u noemt.
        De persoon die u het meest spreekt telt voor 1/2, de tweede voor 1/4,
        de derde voor 1/8 en de vierde ook weer voor 1/8.
    </p>
    <p>
        Voorbeeld 1: Een vrouw die samenleeft met 1 persoon (1 netwerk) en verder
        niemand spreekt heeft een waarde van 0.25 (1/2 x 1/2).
    </p>
    <p>
        Voorbeeld 2: Een man die alleen leeft en jaarlijks 5 kennissen ziet
        uit 2 verschillende netwerken scoort 0.1.
    </p>
</div>

<div id="tooltip-text-hub" class="tooltip-contents">
    <h3>
        Toelichting op het begrip 'hub'
    </h3>
    <p>
        'Hubs' zijn mensen met zeer veel verschillende sociale contacten;
        zij houden het netwerk bij elkaar en vormen bruggen tussen de verschillende deelnetwerken.
    </p>
</div>

<div id="fb-root"></div>

</body>
</html>
