<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html ng-app="controller">
<head>
<title>Netwerk scan</title>

<link type="text/css" rel="stylesheet" href="css/style.css">

<script src='lib/jquery-1.8.0.min.js' type="text/javascript"></script>
<script src='lib/jquery-ui-autocomplete/jquery-ui-1.8.23.custom.min.js'
	type="text/javascript"></script>
<script src="lib/angular-1.0.1.min.js" type="text/javascript"></script>
<script src="lib/angular-resource-1.0.1.min.js" type="text/javascript"></script>
<script src="lib/network/network-min.js" type="text/javascript"></script>
<script src="js/controller.js" type="text/javascript"></script>
<script src="js/networkview.js" type="text/javascript"></script>

</head>
<body>
	<div id="header" class="header">
		<div id="subheader" class="subheader">
			<h1>Who do you know?</h1>
			<span style="font-style: italic;">Analyze your social network
			</span>
		</div>
		<div id="nav" class="nav">
			<ul>
				<li><a href="http://network-scan.appspot.com/">Home</a></li>
				<li><a href="img/mindmap.png" target="_blank">Mindmap</a></li>
			</ul>
		</div>
	</div>

	<div id="container" ng-controller="Controller">

		<div id="subheader-bg" class="subheader-bg"></div>

		<div id="wrap_menu">
			<div id="menu">
				<h4>Test</h4>

				<select ng-model="test" ng-options="test for test in tests"></select>

				<div class="listitem" ng-click="showNetwork()">Visualisatie</div>
				<div class="listitem" ng-click="score(person.id)">Score</div>

				<h4>
					Deelnemers <img ng-show="querying" src="img/loading5.gif">
				</h4>
				<button ng-click="query()" title="Reload all participants">Vernieuwen</button>

				<div>
					<input ng-model="search.name" type="text"
						placeholder="Zoek..." />
				</div>
				<div ng-repeat="person in persons | filter:search" class="listitem"
					ng-click="load(person.id)">{{person.name}}</div>
			</div>
		</div>


		<div id="wrap_contents">
			<div id="contents">
				<div ng-show="page == 'intro' ">
					<h4>De Netwerk scan van Stichting Zelforganisatie</h4>

					Deze vragenlijst heeft als doel om uw netwerk in kaart te brengen
					en u bewust te maken van de mensen die u kent. Hieraan ten
					grondslag ligt een theoretische onderbouwing die u de noodzakelijke
					achtergrond informatie geeft en u in de gelegenheid stelt om de
					vragen op een juiste manier te beantwoorden. Zodoende ontstaat er
					een waardevol beeld van uw netwerk. De theoretische onderbouwing is
					opgesteld door mw. Iris Meerts De Netwerk scan van Stichting
					Zelforganisatie, zij is graag bereid u te woord te staan. Voor meer
					informatie over de achtergrond van deze scan kunt u contact opnemen
					met Stichting De Netwerk scan van Stichting Zelforganisatie via
					info@z11org.nl en telefoonnummer 0104049444. Na het beantwoorden
					van deze De Netwerk scan van Stichting Zelforganisatie treft u als
					output een visualisatie aan. De uitkomst hiervan is uitsluitend
					bedoeld om inzicht te geven in de opbouw van uw netwerk op dit
					moment en levert dus geen waarde oordeel. Het gaat dus niet om goed
					of fout.

					<p>Bij deze De Netwerk scan van Stichting Zelforganisatie gaan
						we niet uit van de groep waarin u zit maar kiezen we voor de rol
						die u heeft. Bijvoorbeeld: wanneer we kiezen voor groep, dan kunt
						u zo alle bloedlijnen die u heeft invullen. Echter, wanneer u
						bijvoorbeeld met uw broer een bedrijf heeft opgericht, kan het
						zijn dat het zakelijke contact frequenter plaatsvindt dan het
						familie contact. Dat vinden we dus interessanter om te meten.</P>
					<P>De datum van het invullen van de scan levert een inzage van
						uw netwerk op dit moment op. Deze scan is een maat om een beeld te
						krijgen van de sociale verbondenheid van mensen en uw rol hierin.
						Om inzicht te krijgen in de groei van het netwerk biedt het
						periodiek invullen van de vragen hiertoe inzicht. Om in
						beeldspraak uit te leggen: elk moment van invullen levert een foto
						op, diverse foto’s achter elkaar vormen tesamen een film.</P>
					<P>De getoonde lijndikte in de visualisatie geeft de mate van
						frequentie van contact weer, hoe dikker de lijn hoe vaker contact.
						De lijnkleur is ‘domein’ of ‘rol’ waar je iemand van kent. Je kunt
						zelf de mate van zichtbaarheid aangeven in drie gradaties:</P>
					1. informatie alleen voor mezelf <br> 2. zodra de ander je
					terug noemt mag deze inzien <br> 3. zichtbaar voor iedereen.<Br>


					<p>
						<input type="submit" ng-click="start()" value="start"
							class="button" title="Start your network scan">

					</p>
				</div>
				<div ng-show="page == 'whoyou' && current">
					<h4>
						We leggen graag deze vraag aan u voor<br>Wie ben jij?
					</h4>
					<table>
						<tr>
							<td>Name</td>
							<td><input type="text" ng-model="current.name" /></td>
						</tr>
						<tr>
							<td>Age</td>
							<td><input type="text" ng-model="current.age" /></td>
						</tr>
						<tr>
							<td>Gender</td>
							<td><select ng-model="current.gender">
									<option value="MALE">Male</option>
									<option value="FEMALE">Female</option>
							</select></td>
						</tr>
						<tr>
							<td>Profession</td>
							<td><input type="text" ng-model="current.profession" /></td>
						</tr>

					</table>
					<input type="submit" ng-click="setPage('intro')" value="previous "
						class="button" title="previous "> <input type="button"
						ng-click="viewRelationpage()" value="next" class="button">

				</div>
				<div ng-show=" page== 'relation' && current">
					<h4>
						Wij leggen graag deze vraag aan u voor<br> Wie spreekt u in
						welk deelnetwerk het meest en hoe vaak
					</h4>
					<br> <br>

					<table>
						<tr ng-show="current.relations.length">
							<td>Deelnetwerk</td>
							<td>Contact</td>
							<td>Frequentie</td>
							<td></td>
						</tr>
						<tr ng-repeat="relation in current.relations">
							<td><select type="text" ng-model="relation.domain"
								ng-options="domain for domain in domains" title="school">
							</select></td>
							<td><input type="text" autocomplete="names"
								selection="relation.name" ng-model="relation.name" /></td>

							<td><select type="text" ng-model="relation.frequency"
								ng-options="frequency for frequency in frequencies"></select></td>
							<td><button ng-click="deleteRelation(current, relation)"
									title="Delete this relation">
									<img ng-show="Delete this relation" src="img/close.png"
										width="15" height="15">
								</button></td>
						</tr>
						<tr>
							<td><button ng-click="addRelation(current)"
									title="Add relation" class="button">Add relation</button></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<input type="submit" ng-click="setPage('whoyou')" value="previous "
						class="button" title="previous "> <input type="button"
						ng-click="save()" ng-disabled="saving" title="Save changes"
						value="save" class="button"> <input type="button"
						ng-click="cancel()" title="Cancel changes" value="cancel"
						class="button"> <input type="button" ng-click="delete()"
						ng-disabled="deleting" title="Delete {{current.name}}"
						value="delete" class="button"> <span ng-show="saving">saving...</span>
					<span ng-show="deleting">deleting...</span> <span ng-show="loading">loading...</span>
				</div>

				<div ng-show=" page == 'result'  && current ">

					<h4>Network scan resulting score.</h4>
					<br>
					<table>
						<tr ng-show="current.relations.length">
							<td>Contact</td>
							<td>Score</td>
							<td>Deelnetwerk</td>

						</tr>
						<tr ng-repeat="relation in current.relations">
							<td><input type="text" ng-model="relation.name" DISABLED /></td>
							<td><input type="text" ng-model="relation.weight" DISABLED /></td>
							<td><input type="text" ng-model="relation.domain" DISABLED /></td>

						</tr>
					</table>
					<br> <input type="button" ng-click="setPage('relation')"
						title="previous" value="previous" class="button"> <input
						type="button" ng-click="close()" title="close" value="close"
						class="button">

				</div>

				<div ng-show="page == 'network' ">
					<h4>
						Netwerk visualisatie<img ng-show="networkLoading"
							src="img/loading5.gif">
					</h4>
					<div id="network"></div>
					<div id="backbtn" align="right">
						<input type="button" ng-click="setPage('intro')" title="Back"
							value="Back" class="button">
					</div>


				</div>
			</div>
		</div>
	</div>
	<div id="mindmap"></div>

	<div id="footer">
		<table align='center' width='100%'>
			<tr>
				<td class='footer'>
					<p>
						<b>Netwerk Scan</b>
					</p> <a href='http://network-scan.appspot.com/ ' target='_blank'>
						http://network-scan.appspot.com/</a>
				</td>
				<td class='footer'>
					<p>
						<b>Contact </b>
					</p>
					<p>
						Tel: 010-4049444<br> <a
							href='https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=http://mail.google.com/mail/&scc=1&ltmpl=default&ltmplcache=2'
							target='_blank'>info@stichtingzelforganisatie.nl</a>
					</p>
				</td>
				<td class='footer'><a href='http://www.almende.com'
					target='_blank'> <img src='img/almende-logo.png' class='logo'
						title='This application is developed by Almende'></a></td>
				<td class='footer'><a
					href='http://www.youtube.com/user/Zelforganisatie' target='_blank'>
						<img src='img/youtube_logo.jpg' title="youtube">
				</a></td>
			</tr>

		</table>
	</div>

</body>
</html>
