<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html ng-app="controller">
<head>
<title>Network scan</title>

<link type="text/css" rel="stylesheet" href="css/style.css">

<script src='lib/jquery-1.8.0.min.js' type="text/javascript"></script>
<script src='lib/jquery-ui-autocomplete/jquery-ui-1.8.23.custom.min.js'
	type="text/javascript"></script>
<script src="lib/angular-1.0.1.min.js" type="text/javascript"></script>
<script src="lib/angular-resource-1.0.1.min.js" type="text/javascript"></script>
<script src="lib/network/network-min.js" type="text/javascript"></script>
<script src="js/controller.js" type="text/javascript"></script>
<script src="js/networkview.js" type="text/javascript"></script>
</head>

<body>
	<div id="header" class="header">
		<div id="subheader" class="subheader">
			<h1>Who do you know?</h1>
			<span style="font-style: italic;">Analyze your social network
			</span>
		</div>
		<div id="nav" class="nav">
			<ul>
				<li><a href="http://network-scan.appspot.com/">Home</a></li>
				<li><a href="http://network-scan.appspot.com/">Mindmap</a></li>
				<li><a href="http://network-scan.appspot.com/">Contact</a></li>
				<li><a href="http://network-scan.appspot.com/">Youtube</a></li>
			</ul>
		</div>
	</div>

	<div id="container" ng-controller="Controller">

		<div id="subheader-bg" class="subheader-bg"></div>

		<div id="wrap_menu">
			<div id="menu">
				<h4>Test</h4>

				<select ng-model="test" ng-options="test for test in tests"></select>

				<div class="listitem" ng-click="showNetwork()">Network View</div>
                <div class="listitem" ng-click="score(person.id)">score</div>
                
				<h4>
					Participants <img ng-show="querying" src="img/loading5.gif">
				</h4>
				<button ng-click="query()" title="Reload all participants">Refresh</button>

				<div>
					<input ng-model="search.name" type="text"
						placeholder="find person..." />
				</div>
				<div ng-repeat="person in persons | filter:search" class="listitem"
					ng-click="load(person.id)">{{person.name}}</div>
			</div>
		</div>


		<div id="wrap_contents">
			<div id="contents">
				<div ng-show="page == 'intro' ">
					<h4>Netwerk scan</h4>

					Deze vragenlijst heeft als doel om uw netwerk in kaart te brengen
					en u bewust<br> te maken van de mensen die u kent. Hieraan ten
					grondslag ligt een theoretische<br> onderbouwing die u de
					noodzakelijke achtergrond informatie geeft en u in de<br>
					gelegenheid stelt om de vragen op een juiste manier te
					beantwoorden. Zodoende <br> ontstaat er een waardevol beeld
					van uw netwerk. De theoretische onderbouwing is <br> opgesteld
					door mw.

					<p>
						Iris Meerts van Stichting Zelforganisatie, zij is graag bereid u <br>
						te woord te staan. Voor meer informatie over de achtergrond van
						deze scan kunt u <br> contact opnemen met Stichting
						Zelforganisatie via info@z11org.nl en <br> telefoonnummer
						0104049444. Na het beantwoorden van deze Netwerk scan treft u als<br>
						output een visualisatie aan. De uitkomst hiervan is uitsluitend
						bedoeld om inzicht<br> te geven in de opbouw van uw netwerk
						op dit moment en levert dus geen waarde oordeel. <br> Het
						gaat dus niet om goed of fout.
					</p>

					<p>
						 <input type="submit"
							ng-click="start()" value="start" class="button"
							title="Start your network scan">
					</p>
				</div>
				<div ng-show="page == 'whoyou' && current">
					<h4>Who are you?</h4>
					<table>
						<tr>
							<td>Name</td>
							<td><input type="text" ng-model="current.name" /></td>
						</tr>
						<tr>
							<td>Age</td>
							<td><input type="text" ng-model="current.age" /></td>
						</tr>
						<tr>
							<td>Gender</td>
							<td><select ng-model="current.gender">
									<option value="MALE">Male</option>
									<option value="FEMALE">Female</option>
							</select></td>
						</tr>
						<tr>
							<td>Profession</td>
							<td><input type="text" ng-model="current.profession" /></td>
						</tr>

					</table>
					<input type="button" ng-click="viewRelationpage()" value="next"
						class="button">

				</div>
				<div ng-show=" page== 'relation' && current">
					<h4>Who do you know</h4>
					Click on the add relation to add who you know <br> <br>
					Wij leggen graag deze vraag aan u voor:<br>
					<table>
						<tr ng-show="current.relations.length">
							<td>From</td>
							<td>Name</td>
							<td>Frequency</td>
							<td></td>
						</tr>
						<tr ng-repeat="relation in current.relations">
							<td><select type="text" ng-model="relation.domain"
								ng-options="domain for domain in domains" title="school">
							</select></td>
							<td><input type="text" autocomplete="names"
								selection="relation.name" ng-model="relation.name" /></td>

							<td><select type="text" ng-model="relation.frequency"
								ng-options="frequency for frequency in frequencies"></select></td>
							<td><button ng-click="deleteRelation(current, relation)"
									title="Delete this relation">
									<img ng-show="Delete this relation" src="img/close.png"
										width="15" height="15">
								</button></td>
						</tr>
						<tr>
							<td><button ng-click="addRelation(current)"
									title="Add relation" class="button">Add relation</button></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>

					<input type="button" ng-click="save()" ng-disabled="saving"
						title="Save changes" value="save" class="button"> <input
						type="button" ng-click="cancel()" title="Cancel changes"
						value="cancel" class="button"> <input type="button"
						ng-click="delete()" ng-disabled="deleting"
						title="Delete {{current.name}}" value="delete" class="button">
					<span ng-show="saving">saving...</span> <span ng-show="deleting">deleting...</span>
					<span ng-show="loading">loading...</span>
				</div>

				<div ng-show=" page == 'result'  && current ">
					Final description page to indicate users what to do next.<br>
					<table>
						<tr ng-show="current.relations.length">
							<td>Name</td>
							<td>Score</td>
							<td>Domain</td>

						</tr>
						<tr ng-repeat="relation in current.relations">
							<td><input type="text" ng-model="relation.name" DISABLED /></td>
							<td><input type="text" ng-model="relation.weight" DISABLED /></td>
							<td><input type="text" ng-model="relation.domain" DISABLED /></td>

						</tr>
					</table>
					<br> <input type="button" ng-click="close()"
						title="close" value="close" class="button">

				</div>

				<div ng-show="page == 'network' ">
					<h4>
						Network view page<img ng-show="networkLoading"
							src="img/loading5.gif">
					</h4>
					<div id="network"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<table align='center' width='100%'>
			<tr>
				<td class='footer'><a
					href='http://selforganizationtest.appspot.com' target='_blank'>
						http://selforganizationtest.appspot.com</a></td>
				<td class='footer'><a
					href='https://developers.google.com/appengine/' target='_blank'>
						<img src='img/Google_App_Engine_Logo.png' class='logo'
						title='This application is hosted by Google App Engine'>
				</a></td>
				<td class='footer'><a href='http://www.almende.com'
					target='_blank'> <img src='img/almende-logo.png' class='logo'
						title='This application is developed by Almende'></a></td>

			</tr>

		</table>
	</div>

</body>
</html>
